.main-container{
    padding: 0 1rem;
}
.community-info{
    text-align: center;
}
.community-title{
    font-family: var(--font-secundaria);
    font-weight: 700;
    font-size: 1.6rem;
    line-height: 1.4;
    
}
.community-text{
    font-family: var(--font-primaria);
    font-size: 0.8rem;
    line-height: 1.3;
    margin: 1.6rem 2.2rem ;

}
.btn-to--start{
    border-radius: 25px;
    height: 30px;
    width: 170px;
    background: var(--cor-botao);
    color: var(--branco);
    border: none;
    font-size: 0.7rem;
    font-weight: bold;
}
.image-dados{
    margin: 0 1rem;
    margin-top: 5rem;
}
.image-mockups{
    width: 100%;
}